<p><b>Challenge rejected!</b></p>

<p>Your invitation to <%= @invitee.handle %>
to play <%= @game_type.game_type_name %>, made
<%=@invitation.challenge_issued.strftime("%B %e, %Y")%>,
has been turned down.</p>

<p>The Your-Turn team.</p>
