<p><b>Would you like to play a game?</b></p>

<p>You have been invited to play 
<%= @game_type.game_type_name %> 
with player <b><%= @inviter.handle %></b>. 
Visit <a href="<%= t(:domain) %>">Your-Turn</a> 
and check your Dashboard to accept or deny this invitation. Please note that the invitation will expire at 
<%=@invitation.challenge_expires.strftime("%l:%M %P on %B %e, %Y")%>.</p>

<p>The Your-Turn team.</p>
