<p><b>Challenge withdrawn!</b></p>

<p>The invitation from <%= @inviter.handle %>
to play <%= @game_type.game_type_name %>, made
<%=@invitation.challenge_issued.strftime("%B %e, %Y")%>,
has been withdrawn.</p>

<p>The Your-Turn team.</p>
