<% if !signed_in? %>
  <h1>Yo, Login or Register to start playing</h1>
<% else %>
  <h1>Welcome <%= current_player.handle %></h1>
  <h2>The following games are available to play<h2>
  <ul>
    <% game_types.each do |game_type| %>
      <li><%= game_type.create.friendly_name %></li>
    <% end %>
  </ul>
  <h2>The other players are</h2>
  <ul>
    <% other_players.each do |other_player| %>
      <li><%= other_player.handle %></li>
    <% end %>
  </ul>
<% end %>
