<p><b>It's your turn now!</b></p>

<p>Your opponent <%= @opponent.handle %> has taken a turn in 
your game of <%= @game_type.game_type_name %>. Visit 
<a href="<%= t(:domain) %>">Your-Turn</a> and log in to 
make your play.</p>

<p>The Your-Turn team.</p>
